'context-menu':
  'atom-text-editor': [
    { 'label': 'Diff Panes', 'command': 'split-diff:diffPanes' }
    { 'label': 'Disable split-diff', 'command': 'split-diff:disable' }
    { 'label': 'Toggle Ignore Whitespace', 'command': 'split-diff:toggleIgnoreWhitespace' }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Split Diff'
      'submenu': [
        { 'label': 'Diff Panes', 'command': 'split-diff:diffPanes' }
        { 'label': 'Disable', 'command': 'split-diff:disable' }
        { 'label': 'Toggle Ignore Whitespace', 'command': 'split-diff:toggleIgnoreWhitespace' }
      ]
    ]
  }
]
