@import "syntax-variables";

atom-text-editor, atom-text-editor::shadow {
  .gutter .line-number,
  .line {
    &.split-diff-added {
      background-color: fade(@syntax-color-added, 40%);
    }

    &.split-diff-removed {
      background-color: fade(@syntax-color-removed, 40%);
    }

    &.split-diff-selected {
      background-color: fade(@syntax-color-modified, 40%);
    }
  }

  .split-diff-word-added .region {
    background-color: fade(@syntax-color-added, 50%);
  }

  .split-diff-word-removed .region {
    background-color: fade(@syntax-color-removed, 50%);
  }

  .split-diff-offset {
    background-color: @syntax-gutter-background-color-selected;
  }
}

.split-diff-modal {
  padding: 14px;
  text-align: center;
}

.split-diff-message {
  font-size: 26px;
  display: inline-block;
}

.split-diff-icon {
  background-image: url('images/octocat-spinner-128.gif');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.split-diff-hide-mask:after {
  display: none;
}
